.hits {
    width: 100vw;
    background: url('/assets/pictures/backgrounds/background-image4.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: ErasLight;
    text-align: center;
    padding: 70px 0;
}

.hits-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px ;
}

.hits-week,
.new-hits {
    background-color: #181818cc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 550px;
    margin: 0 30px;
}


.new-hits {
    height: 600px;
    background-color: #000000d6;
    color: #ef41ef;
    border: 5px solid #b822b8;
}

.header-hits {
    padding: 4px 20px;
}

.header-hits h3 {
    font-size: 1.5rem;
}

.header-hits h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hits-ul li {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    margin-right: 15%;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.new-hits li {
    border: 1px solid black;
    justify-content: space-between;
    border-top: none;
    border-left: none;
    border-right: none;
}

.new-hits i {
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}

.new-hits i:hover {
    cursor: pointer;
    color: #810081;
}

.hits-ul li img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.hits-ul li h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

.singers img {
    border-radius: 50%;
}



@media screen and (max-width: 1200px) {
    .hits-week,
    .new-hits {
        margin: 0 10px;
    }
}

@media screen and (max-width: 1100px){
    .hits-cards {
        display: block;
    }
    .hits-week,
    .new-hits{
        margin: 20px 0;
    }

}