@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    margin-right: 20px;
}

.textfield {
    width: 300px;
    height: 45px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    padding-right: 30px;
    background: #ffffff;
    color: #000000;
    font-size: 12pt;
    outline: none;
}


.search .fa-search {
    position: absolute;
    top: 12px;
    left: auto;
    right: 10px;
    color: #00000056;
}