.rating {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: -15px;
}


.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    width: 1.1em;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important;
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}