@font-face {
    font-family: ErasLight;
    src: url(../assets/fonts/ErasLightITC.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: ErasLight, sans-serif;
    overflow-x: hidden;
    /* background-color: #181818!important; */
}

.btn-cart {
    position: fixed;
    bottom: 25px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #0e0e0e96;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

.btn-cart:hover {
    background-color: rgba(255, 255, 255, 0.548);
    color: #0e0e0e;
}

.container-fluid {
    padding: 3px;

}

.navbar {
    z-index: 999;
    opacity: 0.7;
    background: #0e0e0e;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    font-family: ErasLight, sans-serif;
    width: 100%;
}

.items-nav {
    display: flex;
    justify-content: space-between;
}
.navbar-toggler{
    background: white!important;
}

.btn {
    text-transform: uppercase;
    margin-right: 15px;
}

.link-nav {
    text-decoration: none;
    margin: 30px;
    color: white;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}

.link-nav:hover {
    /* color: #9e2b96; */
    color: #fa02e9;
}


.logo img {
    width: 40px;
    height: auto;
}
.search-responsive{
    margin-right: 20px;
    margin-top: 5px;
    display: none;
}
/* Primeira sessão da página */

.home-section {
    width: 100vw;
    height: 100vh;
    background: url('../assets/pictures/background-image.png');
    background-size: cover;
    flex-direction: row;
    /* align-items: ; */
    align-content: space-around;
    justify-content: flex-start;
}


.slogan {
    font-family: ErasLight, sans-serif;
    color: white;
    padding-top: 100px;
    /* margin-bottom: 100px; */
    margin-left: 50px;

}

.slogan h1 {
    text-transform: uppercase;
    font-size: 7rem;
    margin-left: 25px;
}

.slogan h2 {
    margin-left: 100px;
    font-size: 1.8rem;
}

.slogan #alive {
    margin-left: 150px;
}


.links {
    margin-left: 80px;
    margin-top: 30px;
    padding-top: 200px;
    /* opacity: 0; */
}

.links a {
    font-family: ErasLight, sans-serif;
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
}

.links button {
    font-family: ErasLight, sans-serif;
}

.btn-link {
    border: 2px solid #fff;
    text-transform: uppercase;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 7px;
}

.btn-link:hover {
    background-color: white;
    color: black !important;
}

.links a span {
    margin-left: 5px;
}


/* Segunda sessão da página */

.sample-section {
    width: 100vw;
    /* height: auto; */
    background: url('../assets/pictures/background-image2.png') #181818;
    background-repeat: no-repeat;
    display: flex;
    background-size: contain;
    background-position: center;
    justify-content: center;
    /* margin-top: 10px; */
}

.tabs {
    font-family: ErasLight, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: none;
    margin: 0 20px;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
}

.tabs.active {
    background-color: #7a2174;
}

.gallery {
    padding: 0 350px !important;
}

/* Sessão de planos de assinatura */

.signature {
    width: 100vw;
    background: url('../assets/pictures/background-image3.png') #181818;
    padding: 100px;
    text-align: center;
}

.signature h2,
.signature p {
    font-family: ErasLight, sans-serif;
    font-weight: bold;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

.signature .btn {
    width: 100%;
}

.card {
    /* font-family: ErasLight, sans-serif; */
    color: black;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
    .gallery {
        padding: 0 150px !important;
    }

}

@media screen and (max-width: 1000px) {
    .items-nav {
        display: block;
    }

    .textfield {
        display: none;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav li {
        margin: 10px 0;
    }

    #btn-login {
        margin-top: 10px;
    }

    .logo img {
        margin-left: 1rem;
    }
    .tabs{
        font-size: 1.5rem;
    }
    .card{
        width: 100%;
    }
    .search-responsive{
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .gallery {
        padding: 0 20px !important;
    }

    .price-mark {
        font-size: 0.8rem;
    }

    .slogan h1 {
        font-size: 3rem;
        margin: 0;
    }

    .links {
        margin: 0;
        text-align: center;
    }

    .slogan h2 {
        margin: 0;
        text-align: center;
    }

    .slogan #alive {
        margin: 0;
    }
    .signature{
        padding: 20px;
    }
}